/* CSS */

@font-face {
    font-family: abel;
    src: url(https://fonts.googleapis.com/css?family=Abel);
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

#frame {
    display: flex;
    height: 100%;
}

.roundborder-calc{
    border-radius: 7px;
    padding: 0.3em;
}

.roundborder div{
    border-radius: 7px;
    margin: 0.3em;
    padding: 0 0 0 0
}

.roundborderMiddle{
    border-radius: 7px;
    margin: 0 5px;
    padding: 0 0 1px 0
}

#calc-body {
    background-color: rgb(99, 100, 100);
    flex: 0 1 auto;
}

#calc {
    background-color: rgb(99, 100, 100);
    display: flex;
    max-height: 60%;
}

.items {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: space-around;
}

#display {
    background-color: #DBE6F1;
    flex: 1 1;
    position: relative;
    flex-wrap: wrap;
    flex-flow: column;
    min-height: 80px;
    overflow: hidden;
}

#displayNums{
    font-size: 3em;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

#mainBtns {
    background-color: #d0d0d0  ;
    flex: 1 1;
    min-width: 23em;
    
}

/* Digit Buttons */

.btnRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btnCalc {
    flex: 1 0 auto;
    background-color: #d8eef8;
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 1% 1%;
    cursor: pointer;
    min-width: 1.5em;
    border-radius: 10%;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    outline: 0;
    border: none;
    font-size: 4vh;
    font-family: abel;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnCalc:active {
    box-shadow: 0 0.01px 0.01px 0 rgba(0,0,0,0.24), 0 0.01px 0.01px 0 rgba(0,0,0,0.19);
}

.btnBig {
    flex: 2 0 12.5vh;
}

.operator {
    background-color: #FF6421; 
    color: white;
}

.clear {
    background-color: #ED4800;
    color: white;
}

.center {
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;
}