/* CSS */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

#frame {
    display: flex;
    height: 100%;
}

.roundborder-calc{
    border-radius: 7px;
    padding: 0.3em;
}

.roundborder div{
    border-radius: 7px;
    margin: 0.3em;
    padding: 0 0 0 0
}

.roundborderMiddle{
    border-radius: 7px;
    margin: 0 5px;
    padding: 0 0 1px 0
}

#calc-body {
    background-color: rgb(99, 100, 100);
    flex: 0 1 auto;
    width: 40vh;
}

#calc {
    background-color: rgb(99, 100, 100);
    height: 60%;
    display: flex;
}

.items {
    display: flex;
    flex-flow: column;
    width: 100%;
}

#display {
    background-color: #DBE6F1;
    flex: 1 1;
}

#topBtns {
    background-color: grey;
    flex: 2 1;
}

#mainBtns {
    background-color: lightgray;
    flex: 3 1;
}



.center {
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;
}